body {
    background-color: teal;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100px;
    min-height: 100px;
    padding: 10px;
    background-color: antiquewhite;
}

.display {
    min-width: 500px;
    min-height: 100px;
    background-color: #4d4d4d;
    color: white;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    display: flex;
}

.button {
    padding: 10px;
    border-style: solid;
    border-color: black;
}

#Clear {
    color: crimson;
}