body {
    background-color: teal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: antiquewhite;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    padding: 20px;
    background-color: antiquewhite;
    border-style: solid;
    border-color: #4d4d4d;
    border-width: 5px;
    border-radius: 5%;
}

.display {
    min-width: 280px;
    max-width: 280px;
    min-height: 120px;
    max-height: 120px;
    background-color: #4d4d4d;
    color: white;
    font-size: 50px;
    word-wrap: break-word;
    word-break: break-all;
}

.buttons{
    display: flex;
    flex-direction: column;
}

button {
    color: inherit;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    border-style: solid;
    border-color: black;
    background-color: white;
    min-width: 70px;
}

.row {
    display: flex;
}

#row0 {
    color: teal;
}

#CE {
    color: crimson;
}